<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}

{% block content %}
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'homeprovi' %}">Utem Parking</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive"> 
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {% if request.path == '/' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'homeprovi' %}">Menú</a>
          </li>
          <li class="nav-item {% if request.path == '/visitante' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'visitanteprovidencia' %}">Visitantes</a>
          </li>
          <li class="nav-item  px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'listar_visitantesprovidencia' %}">Listar Visitantes</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/gestion.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <head>
        <title>
            Mostrar
        </title> 
    </head>
<body>
    <header>

    </header>

<section class="container">
    <section class="main">         
            <div class="alert alert-success" role="alert">
              Visitante ingresado exitosamente
            </div> 
            <tbody>
            {% if Visitanteprovi %}
              <ul class="list-group">
                <li class="list-group-item active" aria-current="true">Datos visitante</li>
                <li class="list-group-item">Id: {{Visitanteprovi.id}}</li>
                <li class="list-group-item">Nombre: {{ Visitanteprovi.Nombre }}</li>
                <li class="list-group-item">Rut: {{ Visitanteprovi.Rut }}</li>
                <li class="list-group-item">Patente: {{ Visitanteprovi.Patente }}</li>
                <li class="list-group-item">Fecha Ingreso: {{ Visitanteprovi.Fecha_Ingreso }}</li>
                <li class="list-group-item">Fecha Salida: {{ Visitanteprovi.Fecha_Salida }}</li>
                <li class="list-group-item">Sede: {{ Visitanteprovi.Sede }}</li>
                <li class="list-group-item">Motivo: {{ Visitanteprovi.Motivo }}</li>
              </ul>
            </tbody>
            {% else %}
            <h1> No existe registro de visitante </h1>
            {% endif %}
        </table>
    </section>
</section>

</body>

{% endblock  %}