<html>
    <style>
        #barra{
            margin:0; 
            padding:0;
            list-style: none;
            text-transform: uppercase;
        }
        #barra li{
            display: inline;
            margin: 0 20px 
        }

    </style>
    
    <body>
        <ul id="barra">
            <li><a href="/">Home</a></li>
            <li><a href="/funcionario">funcionario</a></li>
            <li><a href="/visitante">visitante</a></li>
            <li><a href="/portero">portero</a></li>
            <li><a href="/reserva">reserva</a></li>
            <li><a href="/disponibilidad">diponibilidad</a></li>
        </ul>
    </body>
</html>