{% extends 'base.html' %}
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/css/gestion.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">

{% block content %}
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'home' %}">Utem Parking</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive"> 
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {% if request.path == '/' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'home' %}">Menú</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-uppercase text-expanded" href="{% url 'ingresar_datos' %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ingresar usuarios
            </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'funcionarios' %}">Ingresar Funcionario</a></li>
                <li><a class="dropdown-item" href="{% url 'visitante' %}">Ingresar Visitante</a></li>
                <li><a class="dropdown-item" href="{% url 'reservas' %}">Ingresar Reserva</a></li>
              </ul>
          </li>
          
          <li class="nav-item {% if request.path == '/porteros'  %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'porteros' %}">Porteros</a>
          </li>
          <li class="nav-item {% if request.path == '/sede'  %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'sede' %}">Sede</a>
          </li>
          <li class="nav-item {% if request.path == '/configuracioncentral' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'configuracioncentral' %}">Configuración</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static '/img/METU.png'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower"> Parking utem</span>
              <h2> </h2>
              <p>
                  Bienvenido <b>{{request.user.username}}</b>, 
                  esta página es exclusiva para usuarios registrados.
              </p>

              <hr />
              <a href="{% url 'logout' %}">Cerrar sesión</a>
            </h2>
          <p class="mb-3">  </p>
         
        </div>
      </div>
    </div>
  </section>
  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
          </div>
        </div>
      </div>
    </section>

{% endblock  %}
</div>
            </div>
        </div>
    </body>
</html>
