<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}

{% block content %}
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'home' %}">Utem Parking</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive"> 
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {% if request.path == '/' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'home' %}">Menú</a>
          </li>
          <li class="nav-item {% if request.path == '/configuracion' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'configuracion' %}">Configuracion</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/estilos.css">
        <meta charset="UTF-8">
    <head>
    </head>
<body>
    <header>
        <h1> Configuracion Utem </h1>
    </header>
<section class="wrapper">
      <section class="main">
      <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    Configuracion
  </a>
  <a href="{% url 'sede' %}" class="list-group-item list-group-item-action">Agregar Sede</a>
  <a href="#" class="list-group-item list-group-item-action">Otro</a>
  <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum at eros</a>
</div>

    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <h1>                                            </h1>
    </form>
    

</body>

{% endblock  %}