<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}

{% block content %}
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'home' %}">Utem Parking</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive"> 
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {% if request.path == '/' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'home' %}">Menú</a>
          </li>
          <li class="nav-item {% if request.path == '/sede' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'sede' %}">sede</a>
          </li>
          <li class="nav-item  px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'listar_sede' %}">Listar Disponibilidad</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/gestion.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <head>
        <title>
            Mostrar
        </title> 
    </head>
<body>
    <header>
    </header>

<section class="container">
    <section class="main">
             <div class="alert alert-success" role="alert">
              Sede ingresada exitosamente
            </div> 
            <tbody>
            {% if sede %}
              <ul class="list-group">
                <li class="list-group-item active" aria-current="true">Datos Sede</li>
                <li class="list-group-item">Id: {{sede.id}}</li>
                <li class="list-group-item">Campus Macul: {{ sede.campus_macul }}</li>
                <li class="list-group-item">Casa Central: {{ sede.casa_central }}</li>
                <li class="list-group-item">Campus Providencia: {{ sede.campus_providencia }}</li>
                <li class="list-group-item">Cantidad estacionamientos: {{ sede.cantidad_estacionamiento }}</li>
              </ul>                    
            </tbody>
            {% else %}
            <h1> No existe registro de funcionarios </h1>
            {% endif %}
        </table>
    </section>
</section>

</body>

{% endblock  %}