<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/estilos.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<body>
   
<section class="wrapper">
      <section class="main">

    <form method="POST" class="post-form">{% csrf_token %}
        <h3> ¿Desea eleminiar el registro de {{ res.Nombre_reserva }}? </h3>
        <a class= 'btn btn-danger' data-toggle="submit"  href="{% url 'homeprovi' %}"> Si, eliminar </a>
        <a class= 'btn btn-default' href="{% url 'homeprovi' %}"> Cancelar </a>
        <h1>                 </h1>
    </form>

</body>

{% endblock  %}